<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Getting Started: Serving Web Content</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <p th:text="'Wybierz podzespoły ' + ${name} " />
    
    <p th:text="'Podzespol 1' + ${name} " />
    
    <p th:text="'Podzespol 2' + ${name} " />
    
    <p th:text="'Podzespol 3' + ${name} " />
    
    <p th:text="'Podzespol 4' + ${name} " />
    
    <p th:text="'Podzespol 5' + ${name} " />
</body>
</html>